.fliterList {
  display: block;
  position: absolute;
  text-align: left;
  top: 60px;
  height: 60px;
  width: 100vw;
  background-color: #6C4242;
  box-shadow: 0px 3px 2px rgba(255, 255, 255, 0.15);
  overflow: hidden;
  z-index: 1;
}
.fliterList .fliter {
  display: inline-block;
  font-size: 20px;
  color: #f0f0f0;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  -moz-transition: background-color, 0.3s, linear;
  -o-transition: background-color, 0.3s, linear;
  -webkit-transition: background-color, 0.3s, linear;
  transition: background-color, 0.3s, linear;
}
.fliterList .fliter:first-child {
  padding-left: 30px;
}
.fliterList .fliter:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.fliterList .fliter-focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.main {
  display: block;
  position: absolute;
  top: 120px;
  background-color: rgba(243, 243, 243, 0.38);
  height: -webkit-calc(100vh - 120px);
  height: -ms-calc(100vh - 120px);
  height: -moz-calc(100vh - 120px);
  height: -o-calc(100vh - 120px);
  height: calc(100vh - 120px);
  width: 100vw;
  overflow-y: auto;
}

.userBox {
  display: inline-block;
  overflow: hidden;
  float: left;
  background: #FFF;
  width: 200px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border: 5px solid #A06E6E;
  color: #000;
  -moz-transition: 0.3s, linear;
  -o-transition: 0.3s, linear;
  -webkit-transition: 0.3s, linear;
  transition: 0.3s, linear;
}
.userBox:hover {
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.userBox .userPhoto {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  -moz-transition: 0.3s, linear;
  -o-transition: 0.3s, linear;
  -webkit-transition: 0.3s, linear;
  transition: 0.3s, linear;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7), 0px 2px 15px rgba(0, 0, 0, 0.7) inset;
}
.userBox .userName {
  font-size: 24px;
  padding-top: 5px;
}
.userBox .userProfileList {
  display: inline-block;
  list-style-type: none;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}
