@charset "UTF-8";
.leftside {
  position: absolute;
  top: 60px;
  width: 25vw;
  overflow: hidden;
  height: -webkit-calc(100vh - 60px);
  height: -ms-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background-color: #6C4242;
}
@media only screen and (max-width: 1024px) {
  .leftside {
    display: none;
  }
}
.leftside .photo {
  display: inline-block;
  width: 13vw;
  height: 13vw;
  max-width: 180px;
  max-height: 180px;
  margin-top: 25px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75) inset;
  z-index: 10;
}
.leftside .fullname {
  color: #FFF;
  font-weight: normal;
  margin-bottom: 0px;
}
.leftside .subtitle {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  margin: 5px;
}
.leftside ul.subtitle {
  display: inline-block;
  text-align: left;
  width: 13vw;
}
.leftside .item {
  display: inline-block;
  width: 25vw;
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.leftside .item:hover {
  background-color: rgba(131, 87, 87, 0.6);
}
.leftside .item-focus {
  background-color: #FFF;
  color: #6C4242;
}
.leftside .item-focus:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.profile {
  display: table;
  position: absolute;
  top: 60px;
  left: 25vw;
  width: 75vw;
  overflow: hidden;
  height: -webkit-calc(100vh - 60px);
  height: -ms-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
}
@media only screen and (max-width: 1024px) {
  .profile {
    left: 0;
    width: 100vw;
  }
}
.profile .profileblock ul {
  display: inline-block;
  padding: 0;
  width: -webkit-calc(75vw - 80px);
  width: -ms-calc(75vw - 80px);
  width: -moz-calc(75vw - 80px);
  width: -o-calc(75vw - 80px);
  width: calc(75vw - 80px);
}
@media only screen and (max-width: 1024px) {
  .profile .profileblock ul {
    width: -webkit-calc(100vw);
    width: -ms-calc(100vw);
    width: -moz-calc(100vw);
    width: -o-calc(100vw);
    width: calc(100vw);
  }
}
.profile .profileblock ul .notext:before {
  display: block;
  position: absolute;
  content: "尚未填寫";
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
.profile .profileblock ul .notext:before:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.profile .profileblock ul a {
  display: list-item;
  list-style-type: none;
  float: left;
  margin: 5px;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 150px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
}
@media only screen and (max-width: 769px) {
  .profile .profileblock ul a {
    font-size: 12px;
    line-height: 75px;
  }
}
.profile .profileblock ul a img {
  width: 150px;
  height: 150px;
}

.updateProfile {
  display: inline-block;
  text-align: center;
  height: -webkit-calc(100vh - 60px);
  height: -ms-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: -o-calc(100vh - 60px);
  height: calc(100vh - 60px);
  width: 75vw;
}
@media only screen and (max-width: 1024px) {
  .updateProfile {
    width: -webkit-calc(100vw);
    width: -ms-calc(100vw);
    width: -moz-calc(100vw);
    width: -o-calc(100vw);
    width: calc(100vw);
  }
}
.updateProfile label {
  display: inline-block;
  text-align: left;
  width: 10vw;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .updateProfile label {
    width: 30vw;
  }
}
.updateProfile input[type="text"] {
  width: 35vw;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #CCC;
  padding-left: 5px;
  background: #FEFEFE;
  margin: 5px;
}
@media only screen and (max-width: 1024px) {
  .updateProfile input[type="text"] {
    width: 45vw;
  }
}
.updateProfile select {
  width: 35vw;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #CCC;
  background: #FEFEFE;
  padding-left: 5px;
  margin: 5px;
}
@media only screen and (max-width: 1024px) {
  .updateProfile select {
    width: 45vw;
  }
}
.updateProfile img {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.updateProfile .labimg {
  text-align: center;
  height: 35px;
}

#dialogTable {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
}

#dialogContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  -webkit-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: dialogContainerOpen;
  -ms-animation-name: dialogContainerOpen;
  -moz-animation-name: dialogContainerOpen;
  -o-animation-name: dialogContainerOpen;
  animation-name: dialogContainerOpen;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes dialogContainerOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes dialogContainerOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes dialogContainerOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dialogContainerOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dialog {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 25px #000;
  min-width: 250px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 20px;
  -moz-transition: 0.6s, linear;
  -o-transition: 0.6s, linear;
  -webkit-transition: 0.6s, linear;
  transition: 0.6s, linear;
}
.dialog .dialogText {
  display: none;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  color: #FFF;
  font-size: 24px;
}

#dialogClose {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 10px;
  margin-right: 20px;
  background-image: url(../images/close.png);
  background-size: contain;
}
#dialogClose:hover {
  cursor: pointer;
}
