@import "mixin.sass"

html,body
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    background: url(../images/bg.jpg)
    background-size: cover
    background-position: center center
    background-attachment: fixed
    display: table
    overflow-x: hidden

a
    display: inline-block
    text-decoration: none

.container
    text-align: center
    vertical-align: middle
    display: table-cell
    overflow: auto

.slashBackground
    +vpa(background, linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.3) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0.3)))
    background-size: 10px 10px

$navbarheight: 60px
$navbarBackColor: #7F4545
$navbarItemTextColor: #ffffff
$navbarItemHoverBackColor: rgba(0, 0, 0, 0.3)
.navbar
    position: fixed
    background-color: $navbarBackColor
    text-align: left
    top: 0px
    left: 0px
    height: $navbarheight
    width: 100%
    box-shadow: 0 3px 2px rgba(0,0,0,.15)
    z-index: 5
    .navrwdbutton
        display: none
        float: left
        text-decoration: none
        width: 30px
        color: $navbarItemTextColor
        line-height: $navbarheight
        +rwd($pad)
            display: block
    .navtitle
        float: left
        text-decoration: none
        line-height: $navbarheight
        text-align: left
        font-size: 32px
        margin-left: 30px
        color: $navbarItemTextColor
        +rwd($pad)
            margin-left: 0px

    .navitem
        display: block
        float: right
        text-align: center
        min-width: 50px
        text-decoration: none
        line-height: $navbarheight
        font-size: 18px
        padding-left: 20px
        padding-right: 20px
        color: $navbarItemTextColor
        +transition(background-color,0.3s,linear)
        +rwd($pad)
            display: none
        .navphoto
            background-size: cover
            float: left
            margin-top: 10px
            margin-right: 15px
            margin-left: 0px
            width: 35px
            height: 35px
            border-radius: 50%
            border: 2px solid #5C3A3A
            +rwd($pad)
                display: none

        &:hover
            background-color: $navbarItemHoverBackColor
